.button {
  border: 0;
  border-radius: 50px;
  cursor: default;
  font-weight: normal;
  min-height: 50px;
  transition: background-color 0.5s ease-in;
}

.button--number,
.button--large_number,
.button--operator,
.button--light {
  color: #fff;
}

.button--number,
.button--operator,
.button--light {
  min-width: 50px;
}

.button--large_number,
.button--number {
  background-color: #505050;
}

.button--number {
  font-size: 20px;
}

.button--large_number {
  font-size: 20px;
  min-width: 100px;
}

.button--operator {
  font-size: 20px;
}

.button--light {
  background-color: #d4d4d2;
  color: #000;
  font-size: 20px;
}

.button--operator {
  background-color: #ff9500;
  transition: color 0.5s;
}

.button--operator:focus {
  background-color: #fff;
  color: #ff9500;
}

.button--number:active,
.button--large_number:active,
.button--operator:active,
.button--light:active {
  transition: background-color 0.1s ease-in;
}

.button--number:active,
.button--large_number:active {
  background-color: #7e7e7e;
}

.button--light:active {
  background-color: #f0f0f0;
}

.button--operator:active {
  background-color: #f7cd92;
}
